@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .chevron {
    background-size: 16px;
    background-repeat: no-repeat;
  }

  .chevron-down {
    @apply chevron;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white" ><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" /></svg>');
  }

  .chevron-right {
    @apply chevron;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="white" ><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" /></svg>');
  }
}

/* Themes */
:root {
  --bg: theme("colors.me3.bg");
  --tab: theme("colors.me3.tab");
  --active: theme("colors.me3.active");
  --hover: theme("colors.me3.hover");
}

.mass-effect-1 {
  --bg: theme("colors.me1.bg");
  --tab: theme("colors.me1.tab");
  --active: theme("colors.me1.active");
  --hover: theme("colors.me1.hover");
}

.mass-effect-2 {
  --bg: theme("colors.me2.bg");
  --tab: theme("colors.me2.tab");
  --active: theme("colors.me2.active");
  --hover: theme("colors.me2.hover");
}

.mass-effect-3 {
  --bg: theme("colors.me3.bg");
  --tab: theme("colors.me3.tab");
  --active: theme("colors.me3.active");
  --hover: theme("colors.me3.hover");
}

/* Scrollbar */
:root {
  scrollbar-color: theme("colors.scroll-bar.fg") theme("colors.scroll-bar.bg");
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
 
::-webkit-scrollbar-track {
  background-color: theme("colors.scroll-bar.bg");
}
 
::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background-color: theme("colors.scroll-bar.fg");
}

/* NavBar */
.navbar-chevron {
  @apply chevron-right;
  background-position: right 0.05rem center;
}

/* Select */
.select-chevron {
  @apply chevron-down;
  background-position: right 0.05rem center;
}

/* Table */
.table-chevron-down {
  @apply chevron-down;
  background-position: left 0.2rem center;
}

.table-chevron-right {
  @apply chevron-right;
  background-position: left 0.2rem center;
}

.table-row {
  @apply flex-1 odd:bg-table-odd even:bg-table-even p-[1.5px] px-1;
}

/* Clipper */
.raw-plot-bg {
  background: linear-gradient(0, theme("colors.table.even") 50%, theme("colors.table.odd") 50%);
  background-size: 100% 46px;
  background-repeat: repeat;
}

.raw-plot-row {
  @apply p-[1.5px] px-1 w-full h-[23px];
}

/* Button */
.button {
  @apply rounded-none bg-theme-bg hover:bg-theme-hover active:bg-theme-active cursor-pointer select-none px-1;
}

/* Inputs */
.input {
  @apply rounded-none outline-none bg-theme-bg px-1;
}

.checkbox {
  @apply appearance-none select-none rounded-none bg-origin-border bg-theme-bg hover:bg-theme-hover active:bg-theme-active;
  width: 1.125rem;
  height: 1.125rem;
}

.checkbox:checked {
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/></svg>');
  background-position: center;
}

/* Notification */
.notification-animation {
  @apply origin-left;
  animation: notification 1500ms linear;
  animation-fill-mode: forwards;
}

@keyframes notification {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(0, 1, 1);
  }
}
