RawPlotDb(
    booleans: {},
    integers: {
        1: "SFX.Utility.PlayerInfo.Childhood",
        2: "SFX.Utility.PlayerInfo.Reputation",
        3: "<Integer>",
        4: "<Integer>",
        5: "<Integer>",
        6: "<Integer>",
        9: "<Integer>",
        12: "SFX.CH1_Star_Citadel.Gamblatronomatic.GamingWins",
        13: "SFX.Global_Plots.Active_World.Active_World",
        15: "SFX.Global_Plots.Henchman_Kaidan.Romance_Buddy_dialog_count",
        16: "SFX.Global_Plots.Henchman_Liara.Romance_Buddy_dialog_count",
        17: "Adjust SFX.Global_Plots.Henchman_Ash.Romance/Buddy_dialog_count",
        18: "Adjust SFX.Global_Plots.Henchman_Garrus.Back_Story_Dialog_Count",
        21: "SFX.CH2_Feros.Frontier_Lost.Thorian_Nodes.Node_Destroyed_Count",
        23: "Adjust SFX.CH1_Star_Citadel.Roleplaying_Plots.Fourth_Estate.Number_of_Persuades",
        24: "Adjust SFX.CH1_Star_Citadel.Roleplaying_Plots.Fourth_Estate.Number_of_Charms",
        25: "Adjust SFX.CH1_Star_Citadel.Roleplaying_Plots.Fourth_Estate.Number_of_Intimidates",
        27: "Adjust SFX.CH1_Star_Citadel.Roleplaying_Plots.RP115_Snap_Inspection.Convinced_Admiral",
        28: "Adjust SFX.CH1_Star_Citadel.Roleplaying_Plots.RP112_I_Remember_Me.Steps_Forward",
        29: "Adjust SFX.CH1_Star_Citadel.Roleplaying_Plots.RP112_I_Remember_Me.Talitha_Tension",
        30: "<Integer>",
        31: "Researcher_Killed",
        32: "SFX.Global_Plots.Global_Plot_03.HanarResponse",
        33: "Adjust SFX.CH2_Noveria.ICE20_Conversation_Flags.Human_Bar_Conversation",
        34: "Adjust SFX.CH2_Noveria.ICE20_Conversation_Flags.Salarian_Bar_Conversation",
        35: "SFX.Global_Plots.Global_Plot_03.NuriamResponse",
        36: "SFX.Utility.Dialog.Select.Line",
        37: "Adjust SFX.Global_Plots.Henchman_Garrus.Making_Garrus_Paragon",
        38: "Adjust SFX.Global_Plots.Henchman_Garrus.Making_Garrus_Renegade",
        39: "NumKeepersScanned",
        40: "Colonist_Killed_Counter",
        42: "Number_Destroyed",
        43: "Adjust SFX.Light_Content_Subplots.Collection_Quest_League_of_One.League_Medallion",
        44: "Adjust SFX.CH2_Feros.Dry_Lands.Number_of_valves_opened",
        45: "SFX.Global_Plots.Active_World.Previous_Active_World",
        46: "Adjust SFX.Utility.PlayerInfo.Renegade_Points",
        47: "Adjust SFX.Utility.PlayerInfo.Paragon_Points",
        48: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Minerals_and_Metals.Light_Metals",
        50: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Minerals_and_Metals.Iridium",
        51: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Minerals_and_Metals.Titanium",
        52: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Minerals_and_Metals.Uranium",
        53: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Prothean_Data_Discs.Prothean_Data_Discs",
        54: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Asari_Writings.Asari_Writings",
        55: "Adjust SFX.Light_Content_Subplots.Collection_Quest_Turian_Emblems.Turian_Emblems",
        56: "Adjust SFX.Light_Content_Subplots.Collection_Quest_League_of_One.Captain_ID_Tag",
        57: "Adjust SFX.Global_Plots.World_Progress.Time_Has_Passed_Countdown",
        58: "Environment_Counter",
        59: "nDemoCharges",
        62: "Stunt_Points_Found",
        63: "DUI_Display_String",
        66: "Current_Location",
        67: "SFX.Utility.Henchman.Banter_zones.Last_Clicked_On",
        68: "SFX.Utility.Henchman.Banter_zones.In_Zone_ID",
        69: "SFX.Utility.Henchman.Banter_zones.In_DefaultZone_ID",
        70: "END80_MarauderCount",
        71: "nCodePosition",
        72: "END80_ShipHitsTaken",
        73: "END80_ShipGethDeployed",
        74: "SFX.Global_Plots.Music.CurrentMusicState",
        75: "Potential_Fail_Count",
        76: "Definitely_Failed_Count",
        77: "nMistakes",
        78: "nCodePosition",
        79: "nBarCounter",
        80: "EquippedWeapon",
        81: "Adjust SFX.Utility.PlayerInfo.PlotAddedMaxGrenades",
        82: "Adjust SFX.Utility.PlayerInfo.PlotAddedMaxMedigel",
        83: "END80_Ship_ActiveGeth",
        84: "Count_RiotBarks_Male",
        85: "Count_RiotBarks_Female",
        88: "Adjust SFX.Global_Plots.Achievements.Mission_Counter",
        89: "Adjust SFX.Global_Plots.Achievements.Kaidan_Counter",
        90: "Adjust SFX.Global_Plots.Achievements.Ashley_Counter",
        91: "Adjust SFX.Global_Plots.Achievements.Garrus_Counter",
        92: "Adjust SFX.Global_Plots.Achievements.Wrex_Counter",
        94: "Adjust SFX.Global_Plots.Achievements.Liara_Counter",
        95: "Adjust SFX.Global_Plots.Achievements.Tali_Counter",
        96: "<Integer>",
        97: "Node3_EventSpawnCount",
        98: "Node4_EventSpawnCount",
        99: "Node6_EventSpawnCount",
        100: "ScannerRangeGalaxy",
        101: "Node2_EventSpawnCount",
        102: "ScannerRangeCluster",
        103: "ScannerRangeSystem",
        105: "Current_Galaxy_Viewing",
        107: "Core_1_Junctions_Destroyed",
        108: "Core_2_Junctions_Destroyed",
        109: "Core_3_Junctions_Destroyed",
        111: "FOVO_Count",
        114: "Bases_Complete",
        115: "Kahoku_Corpse_Location",
        119: "Overlord_1_Counter",
        120: "Overlord_2_Counter",
        123: "UNC17_Dropship_Health",
        124: "UNC17_Spawn_Counter",
        125: "UNC83_Dropship_Health",
        126: "UNC83_Spawn_Counter",
        127: "Flux_TableGroup_TalkCount",
        128: "Adjust SFX.CH2_Noveria.Ice_50_Puzzle.Total_Modules_Activated",
        129: "SFX.CH2_Noveria.Ice_50_Puzzle.Module_Removed",
        130: "SarenFightLocation",
        131: "Adjust SFX.DLC_UNC.UNC52.Number_of_Torches_Deactivated",
        134: "Script_CurrentBase",
        135: "West_Torch_ID",
        136: "East_Torch_ID",
        137: "Souch_Torch_ID",
        138: "SFX.DLC_UNC.UNC52.Reward_selection",
        141: "SFX.DLC_Vegas.PRC2.Selected_Scenario_Index",
        142: "Adjust SFX.DLC_Vegas.PRC2.NumFirstPlaceVictories",
        143: "Adjust SFX.DLC_Vegas.PRC2.NumTAVictories",
        144: "SFX.DLC_Vegas.PRC2.TJItemChosen",
        145: "Last_Tried_Scenario_Index",
        146: "Opponents_Scores_Group_Index",
        147: "SFX.DLC_Vegas.PRC2AA.Chosen_Drop",
        148: "Score_Scaling_Level",
        149: "Adjust SFX.Uncharted.Achievements.NumLandingsMade",
    },
    floats: {},
)