Me1PlotDb(
    player_crew: {
        "Player": (
            booleans: {
                7156: "Rich Achievement (to unlock Spectre Master gear)",
                4639: "Player is female"
            },
            integers: {
                1: "Origin (1 = Spacer, 2 = Colonist, 3 = Earthborn)",
                2: "Notoriety (1 = Survivor, 2 = War Hero, 3 = Ruthless)",
                47: "Paragon points",
                46: "Renegade points",
            },
        ),
        "Crew": (
            booleans: {
                3939: "Kaidan in party",
                4509: "Sided against Vrynnus while speaking to Kaidan",
                4631: "Didn't judge about Rahna while speaking to Kaidan",
                3940: "Ashley in party",
                3941: "Garrus in party",
                3942: "Wrex in party",
                3021: "Wrex is dead",
                5336: "Retrieved Wrex family armor",
                4596: "Gave Tali a copy of the data found in UNC: Geth Incursions",
            },
            integers: {
                37: "Garrus C-Sec progress (paragon) (set to 6)",
                38: "Garrus Spectres progress (renegade) (set to 6)",
            },
        ),
        "Romance": (
            booleans: {
                6528: "Romanced somebody",
                4281: "[Ashley] Romance active",
                4282: "[Ashley] Romance cancelled",
                3960: "[Kaidan] Romance active",
                3961: "[Kaidan] Romance cancelled",
                4169: "[Liara] Romance active",
                4686: "[Liara] Romance cancelled",
            },
            integers: {
                17: "Romance progress with Ashley",
                15: "Romance progress with Kaidan",
                16: "Romance progress with Liara",
            },
        ),
    },
    missions: {
        "Citadel": (
            booleans: {
                3979: "[Harkin] Talked to him",
                3980: "[Barla Von] Met him",
                3872: "[Doctor Michel] Persuaded blackmailer",
                3873: "[Doctor Michel] Killed blackmailer",
                5943: "[Garrus] Saved Dr. Michel from Fist's thugs",
                7270: "[Expose Saren] Released Fist",
                4731: "[The Fan] Met Conrad Verner",
                4914: "[The Fan] Convinced him",
                4915: "[The Fan] Go away",
                4766: "[The Fourth Estate] Refused interview (looked bad)",
                4767: "[The Fourth Estate] Excused yourself (looked good)",
                4768: "[The Fourth Estate] Punched Khalisa Bint Sinan al-Jilani",
                5853: "[Asari Consort] Completed quest",
                4032: "[Asari Consort] Received Trinket",
                7015: "[Asari Consort] Used Trinket on Eletania",
                6922: "[Scan the Keepers] Accepted quest",
                3880: "[Scan the Keepers] Killed Chorban",
                3881: "[Scan the Keepers] Scared off Chorban",
                3899: "[Rita's Sister] Completed assignment",
                4820: "[Homecoming] Returned Nirali Bhatia's body",
                4847: "[Old Friends (Earthborn)] Met Finch",
                4855: "[Old Friends (Earthborn)] Killed Finch",
                4861: "[I Remember Me (Colonist)] Talked Talitha down",
                4862: "[I Remember Me (Colonist)] Bait and switch",
                4926: "[Old, Unhappy, Far-Off Things (Spacer)] Spoke to Mom",
                4948: "[Reporter's Request] Gave OSD information to Emily Wong",
                7164: "Got Elkoss Combine license",
            },
            integers: {
                39: "[Scan the Keepers] Keepers scanned (0-21)",
            },
        ),
        "Feros": (
            booleans: {
                4378: "Charmed Ethan Jeong",
                4377: "Intimidated Ethan Jeong",
                2883: "Retrieved Gavin's data",
                2514: "Too many colonists killed",
                3798: "[The Thorian] Killed Shiala",
                4133: "[The Thorian] Released Shiala",
                6252: "[Outcome] Good Plus",
                6253: "[Outcome] Good",
                6254: "[Outcome] Renegade",
                6380: "[Outcome] Fail",
            },
            integers: {},
        ),
        "Noveria": (
            booleans: {
                2687: "Gave evidence to Lorik Qui'in",
                2690: "Gave evidence to Gianna Parasini",
                2713: "Betrayed Gianna Parasini",
                3860: "Talked to Han Olar",
                2587: "Released Rachni Queen",
                2588: "Killed Rachni Queen",
            },
            integers: {},
        ),
        "Virmire": (
            booleans: {
                3827: "Rescued Ashley",
                3828: "Rescued Kaidan",
                3029: "Wrex killed by Shepard",
                3028: "Wrex killed by Ashley on Shepard's orders",
                5543: "Wrex killed by Ashley, without permission",
                4464: "Geth flyers disabled (Both needed to keep Kirrahe alive)",
                4459: "Geth flyers reported (Both needed to keep Kirrahe alive)",
                6058: "Killed Rana Thanoptis",
            },
            integers: {},
        ),
        "End": (
            booleans: {
                3001: "Saved the Council",
                3002: "Abandoned the Council",
                5434: "Councilor Udina",
                5435: "Councilor Anderson",
            },
            integers: {},
        ),
        "UNC": (
            booleans: {
                5885: "[Cerberus] Heard of Cerberus",
                4608: "[Cerberus] Found Cerberus files",
                4682: "[Rogue VI] Completed assignment",
                4621: "[Asari Diplomacy] Met Nassana",
                6848: "[Asari Diplomacy] Killed Dahlia",
                4883: "[Hostage] Chairman Burns died",
                4885: "[Hostage] Killed biotics",
                4886: "[Hostage] Biotics surrendered",
                5014: "[Hostile Takeover] Accepted money",
                5015: "[Hostile Takeover] Persuaded criminal to disband gang",
                5038: "[Dead Scientists] Convinced Corporal Toombs",
                5039: "[Dead Scientists] Killed scientist",
                4903: "[Major Kyle] Kyle surrendered",
                4904: "[Major Kyle] Fought Kyle",
            },
            integers: {
                48: "[Valuable Minerals] Light Metals",
                50: "[Valuable Minerals] Heavy Metals",
                51: "[Valuable Minerals] Gases",
                52: "[Valuable Minerals] Rare Earths",
                53: "[Prothean Data Discs] Prothean Data Discs",
                54: "[Asari Writings] Asari Writings",
                55: "[Turian Insignias] Turian Emblem",
                43: "[Locate Signs of Battle] League Medallions",
                56: "[Locate Signs of Battle] Salarian ID Tags",
            },
        ),
        "DLC": (
            booleans: {
                7291: "[Bring Down the Sky] Completed mission",
                7317: "[Bring Down the Sky] Hostages rescued (Balak alive)",
                7315: "[Bring Down the Sky] Killed Balak",
            },
            integers: {},
        ),
    },
)