Me1KnownPlot(
    player_crew: {
        "Player": PlotCategory(
            booleans: {
                7156: "Shepard is rich",
            },
            ints: {
                1: "Origin (1 = Spacer, 2 = Colonist, 3 = Earthborn)",
                2: "Notoriety (1 = Sole Survivor, 2 = War Hero, 3 = Ruthless)",
                47: "Paragon points",
                46: "Renegade points",
            },
        ),
        "Crew": PlotCategory(
            booleans: {
                3939: "Kaidan recruited",
                4509: "Sided against Vrynnus while speaking to Kaiden",
                4631: "Didn't judge about Rahna while speaking to Kaiden",
                3940: "Ashley recruited",
                3941: "Garrus recruited",
                3923: "Garrus is paragon (C-Sec)",
                3922: "Garrus is renegade (Spectre)",
                3942: "Wrex recruited",
                3021: "Wrex is dead",
                5336: "Retrieved Wrex family armor",
                4596: "Gave Tali a copy of the data found in UNC: Geth Incursions",
            },
            ints: {
                37: "Garrus pushed toward C-Sec progress (paragon)",
                38: "Garrus pushed toward Spectres progress (renegade)",
            },
        ),
        "Romance": PlotCategory(
            booleans: {
                6528: "Romanced somebody",
                4281: "Romancing Ashley",
                3960: "Romancing Kaidan",
                4169: "Romancing Liara",
            },
            ints: {
                17: "Romance progress with Ashley",
                15: "Romance progress with Kaidan",
                16: "Romance progress with Liara",
            },
        ),
    },
    missions: {
        "Citadel": PlotCategory(
            booleans: {
                3979: "[Harkin] Talked to him",
                3980: "[Barla Von] Met him",
                3872: "[Doctor Michel] Persuaded blackmailer",
                3873: "[Doctor Michel] Killed blackmailer",
                5943: "[Garrus] Saved Dr. Michel from Fist's thugs",
                7270: "[Expose Saren] Released Fist",
                4731: "[The Fan] Met Conrad Verner",
                4913: "[The Fan] Intimidated him",
                4914: "[The Fan] Charmed him",
                4915: "[The Fan] Got him killed",
                4766: "[The Fourth Estate] Refused interview (looked bad)",
                4767: "[The Fourth Estate] Excused yourself (looked good)",
                4768: "[The Fourth Estate] Punched her",
                3716: "[The Fourth Estate] Renegade outcome",
                3750: "[The Fourth Estate] Paragon outcome",
                5853: "[Asari Consort] Completed quest",
                4032: "[Asari Consort] Received Trinket",
                7015: "[Asari Consort] Used Trinket on Eletania",
                6922: "[Scan the Keepers] Accepted quest",
                3880: "[Scan the Keepers] Killed Chorban",
                3881: "[Scan the Keepers] Scared off Chorban",
                3899: "[Rita's Sister] Completed assignment",
                4820: "[Homecoming] Returned Nirali Bhatia's body",
                4847: "[Old Friends (Earthborn)] Met Finch",
                4855: "[Old Friends (Earthborn)] Killed Finch",
                4861: "[I Remember Me (Colonist)] Talked Talitha down",
                4862: "[I Remember Me (Colonist)] Bait and switch",
                4926: "[Old, Unhappy, Far-Off Things (Spacer)] Spoke to Mom",
                7164: "Got Elkoss Combine license",
                4948: "[Reporter's Request] Gave OSD information to Emily Wong ?",
            },
            ints: {
                39: "[Scan the Keepers] Number of keepers scanned",
            },
        ),
        "Feros": PlotCategory(
            booleans: {
                2490: "Intimidated Ethan Jeong",
                2491: "Convinced Ethan Jeong",
                2883: "Retrieved Gavin's data",
                2514: "Too many colonists killed",
                3046: "[The Thorian] Zhu's Hope saved",
                3197: "[The Thorian] Shiala survived",
                3798: "[The Thorian] Shiala is dead",
                4133: "[The Thorian] Released Shiala",
                5366: "[Feros] Fail choice ?",
                6252: "[Outcome] Good Plus",
                6253: "[Outcome] Good",
                6254: "[Outcome] Renegade",
                6380: "[Outcome] Fail",
            },
            ints: {},
        ),
        "Noveria": PlotCategory(
            booleans: {
                2687: "Gave evidence to Lorik Qui'in",
                2690: "Gave evidence to Gianna Parasini",
                2713: "Betrayed Gianna Parasini",
                3860: "Talked to Han Olar",
                2587: "Rachni Queen released",
                2588: "Killed Rachni Queen",
            },
            ints: {},
        ),
        "Virmire": PlotCategory(
            booleans: {
                3827: "Rescued Ashley",
                3828: "Rescued Kaidan",
                3029: "Wrex killed by Shepard",
                3028: "Wrex killed by Ashley on Shepard's orders",
                5543: "Wrex killed by Ashley, without permission",
                4464: "Geth flyers disabled (Both needed to keep Kirrahe alive)",
                4459: "Geth flyers reported (Both needed to keep Kirrahe alive)",
                6058: "Killed Rana Thanoptis",
            },
            ints: {},
        ),
        "End": PlotCategory(
            booleans: {
                3001: "Saved the Council",
                3002: "Abandoned the Council",
                5434: "Councilor Udina",
                5435: "Councilor Anderson",
            },
            ints: {},
        ),
        "UNC": PlotCategory(
            booleans: {
                4608: "[Hades' Dogs] Found Cerberus files",
                4682: "[Rogue VI] Completed assignment",
                4621: "[Asari Diplomacy] Met Nassana",
                6848: "[Asari Diplomacy] Killed Dahlia",
                4883: "[Hostage] Chairman Burns died",
                4885: "[Hostage] Killed biotics",
                4886: "[Hostage] Biotics surrendered",
                5014: "[Hostile Takeover] Accepted money",
                5015: "[Hostile Takeover] Persuaded criminal to disband gang",
                5038: "[Dead Scientists] Convinced Corporal Toombs",
                5039: "[Dead Scientists] Killed scientist",
                5379: "[Major Kyle] Fought cultists",
                5377: "[Major Kyle] Fought Kyle",
                5380: "[Major Kyle] Kyle surrendered",
                5885: "[Cerberus] Obtained quest",
            },
            ints: {
                54: "[Asari Writings] Writings found",
            },
        ),
        "DLC": PlotCategory(
            booleans: {
                7291: "[Bring Down the Sky] Completed assignment",
                5361: "[Bring Down the Sky] Rescued Humans 1",
                7317: "[Bring Down the Sky] Rescued Humans 2",
                7315: "[Bring Down the Sky] Killed Balak",
            },
            ints: {},
        ),
    },
)